{% extends "base.html" %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae tempora, unde itaque, ea dicta labore consequatur nemo neque impedit saepe a iure ex expedita. Quibusdam dolor placeat velit sapiente maiores consequatur error, incidunt veritatis laborum impedit. Voluptate corporis eum obcaecati fugiat. Expedita voluptatum aspernatur accusamus eius sapiente odio quibusdam in, blanditiis nemo tenetur possimus itaque repellat dolor cupiditate rerum nihil quo. Obcaecati nisi non aspernatur. Quibusdam veniam sequi mollitia eius omnis corporis maxime! Alias illum, quaerat necessitatibus perferendis obcaecati suscipit hic esse explicabo eligendi tenetur vitae dicta ab porro libero rem. In provident non perferendis esse cum natus accusamus sunt?</p>
        <div class="text-center">
            <a class="btn btn-outline-success" href="/signin/">
                Signin
            </a>
            <a class="btn btn-outline-success" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock %}

